section.chat {
  background-color: #ffffff;
  display: flex;
}

section.chat h1 {
  font-weight: 500;
  font-size: 29px;
  line-height: 34px;
  letter-spacing: -0.165px;
  color: #7e98df;
}

section.chat button {
  border: inherit;
  background-color: transparent;
}

section.chat .search .input-search {
  position: relative;
}

section.chat .search .input-search input.form-control {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  padding-left: 50px;
  background-color: #fafafa;
  border: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #848484;
}

section.chat .search .input-search img {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

section.chat .search input.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #848484;
}

section.chat .menu .btn-menu {
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .menu .btn-menu.active {
  background-color: #7e98df;
  border-radius: 20px;
  color: #ffffff;
  padding: 13px 18px;
}

section.chat .user {
  cursor: pointer;
}

section.chat .profile .back {
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

section.chat .user .profile .image {
  position: relative;
}

section.chat .user .profile .image img,
section.chat .profile .image img {
  border-radius: 20px;
}

section.chat .profile.user-detail .image {
  transform: translateY(-30px);
}

section.chat .profile.user-detail .image h1 {
  transform: translateY(-18px);
}

section.chat .account,
section.chat .info-account,
section.chat .detail {
  transform: translateY(-25px);
}

section.chat .user .profile .image img.online {
  position: absolute;
  bottom: 0;
  right: -5px;
}

section.chat .user .profile .info span.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .user .profile .info span.name img {
  transform: translateY(-2px);
}

section.chat .user .profile .info span.message {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  color: #848484;
}

section.chat .user .profile .info span.message.active {
  color: #7e98df;
}

section.chat .user .time span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  color: #848484;
}

section.chat .user .time div.notif {
  background-color: #7e98df;
  border-radius: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
}

section.chat h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #848484;
}

section.chat .create-channel {
  width: 218px;
  height: 50px;
  border-radius: 20px;
  background-color: #7e98df;
}

section.chat .create-channel div {
  cursor: pointer;
  transition: 0.5 ease;
}

section.chat .create-channel div:hover {
  opacity: 0.6;
}

section.chat .header {
  position: relative;
}

section.chat .header .detail-menu {
  width: 250px;
  position: absolute;
  box-sizing: border-box;
  background-color: #7e98df;
  border-radius: 35px 10px 35px 35px;
  top: 42px;
  right: 10px;
  z-index: 1000;
}

section.chat .header .detail-menu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #ffffff;
  transition: 0.5 ease;
}

section.chat .header .detail-menu a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.chat .profile-menu {
  background-color: #ffffff;
  position: relative;
}

section.chat .profile-menu .chat-menu {
  position: absolute;
  background-color: #7e98df;
  border-radius: 35px 10px 35px 35px;
  top: 77px;
  right: 60px;
  z-index: 999;
}

section.chat .profile-menu .chat-menu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.165px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5 ease;
}

section.chat .profile-menu .chat-menu a:hover {
  opacity: 0.6;
}

section.chat .profile-menu img.user-img {
  cursor: pointer;
  border-radius: 20px;
}

section.chat .profile-menu span.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .profile-menu span.status {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.165px;
  color: #7e98df;
}

section.chat .left {
  min-height: 100vh;
  border-right: 1px solid #e5e5e5;
}

section.chat .right.mobile {
  min-height: 100vh;
}

section.chat .right {
  background-color: #fafafa;
}

section.chat .right .message {
  background-color: #ffffff;
}

section.chat .right .message .input {
  position: relative;
}

section.chat .right .message .input .img-container {
  width: 106px;
  position: absolute;
  top: 18px;
  right: 30px;
}

section.chat .right .message .input .img-container img {
  cursor: pointer;
}

section.chat .right .message .input input.form-control {
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #848484;
  border: inherit;
}

section.chat .right .message .input input.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.165px;
  color: #848484;
}

section.chat .right .message {
  position: relative;
}

section.chat .right .message .attach {
  width: 250px;
  position: absolute;
  box-sizing: border-box;
  background-color: #7e98df;
  border-radius: 35px 35px 10px 35px;
  z-index: 1000;
  right: 163px;
  bottom: 70px;
}

section.chat .right .message .attach a {
  font-weight: 400;
  font-size: 16px;
  line-height: 189.93%;
  letter-spacing: -0.165px;
  color: #ffffff;
  transition: 0.5 ease;
  text-decoration: none;
}

section.chat .right .message .attach a:hover {
  opacity: 0.6;
}

section.chat .right .chating .body {
  position: relative;
}

section.chat .right .chating .body p.date-send {
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  letter-spacing: -0.165px;
  color: #7e98df;
}

section.chat .right .chating .body p.date-reply {
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .right .chating .body .send {
  max-width: 280px;
  background-color: #7e98df;
  border-radius: 35px 35px 35px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 185.17%;
  letter-spacing: -0.165px;
  color: #ffffff;
}

section.chat .right .chating .body .reply {
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 35px 10px 35px 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 185.17%;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .right .chating .body img {
  border-radius: 20px;
}

section.chat .contact-info {
  border-left: 1px solid #e5e5e5;
}

section.chat .contact-info .user-info h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7e98df;
  transform: translateY(3px);
}

section.chat .contact-info .user-info img.back {
  cursor: pointer;
}

section.chat .contact-info img.img-user {
  cursor: inherit;
  border-radius: 30px;
}

section.chat .contact-info .detail-info h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .contact-info .detail-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.335px;
  color: #232323;
  transform: translateY(-5px);
}

section.chat .contact-info .detail-info img {
  transform: translateY(15px);
}

section.chat .contact-info .phone-info {
  box-sizing: border-box;
  border-bottom: 2px solid #f6f6f6;
}

section.chat .contact-info .phone-info h2 {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
}

section.chat .contact-info .phone-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.335px;
  color: #232323;
}

section.chat .contact-info .menu-info .btn-menu-info {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .contact-info .menu-info .btn-menu-info.active {
  background-color: #7e98df;
  border-radius: 20px;
  color: #ffffff;
  padding: 13px 18px;
}

section.chat .contact-info .img-info-container img {
  border-radius: 20px;
  margin-top: 15px;
}

section.chat .profile h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7e98df;
}

section.chat .profile .image p {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.165px;
  color: #232323;
}

section.chat .profile .image p.username {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.335px;
  color: #848484;
  transform: translateY(-10px);
}

section.chat .profile .account,
section.chat .profile .info-account {
  border-bottom: 2px solid #f6f6f6;
}

section.chat .profile .account p {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
}

section.chat .profile .account span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.335px;
  color: #232323;
}

section.chat .profile .account a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
  color: #7e98df;
  transition: 0.5 ease;
  text-decoration: none;
}

section.chat .profile .account a:hover {
  opacity: 0.6;
}

section.chat .profile .info-account p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #232323;
}

section.chat .profile .info-account span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
  color: #848484;
  transform: translateY(-10px);
}

section.chat .profile .detail p {
  font-weight: 500;
  font-size: 16px;
  line-height: 181%;
  color: #232323;
}

section.chat .profile .detail span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.17px;
  color: #848484;
  transform: translateY(-5px);
}

section.chat .profile .detail p.settings {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #232323;
}

section.chat .profile .detail a {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #232323;
  text-decoration: none;
  transition: 0.5 ease;
  margin-top: 30px;
}

section.chat .profile .detail a:hover {
  opacity: 0.6;
}

section.chat .btn-changes {
  width: 150px;
  height: 50px;
  background-color: #7e98df;
  border-radius: 70px;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  transition: 0.5 ease;
}

section.chat .btn-changes:hover {
  background-color: #ffffff;
  color: #7e98df;
  border: 1px solid #7e98df;
}

section.chat .modal-content {
  border-radius: 20px;
}

section.chat .modal-content .modal-header button {
  border: 0px;
}

section.chat .modal-content .modal-body input.form-control {
  border-radius: 20px;
  padding-left: 20px;
}

section.chat .img-user {
  border-radius: 20px;
  cursor: pointer;
}

section.chat .img-wrapper {
  position: relative;
}

section.chat .img-wrapper .file-input {
  position: absolute;
  width: 82px;
  height: 82px;
  opacity: 0;
  left: 188px;
  cursor: pointer;
}
